
.nameContainer{
    display:flex;
    flex-direction: row;
}
.ratingContainer{
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 75px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: #93E187;
    border-radius: 15px;
}
.ratingBigContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    margin-right: 55px;
    margin-left: 25px;
}
.reviewBigContainer{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.reviewNameContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}